* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #29282C;
}

/* Removes default browser button styles */
input, button, submit { border:none; }

/* SITE COMPONENTS
   ================================================ */

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 8%;
  /* background-color: #151515; */
}

.logo {
  color: #fff;
  font-weight: 700;
}
.logo span {
  color: #CA1F3D;
}

nav a {
  color: #CA1F3D;
  font-weight: 700;
  text-decoration: none;
}

/* HEADER/MAIN CONTENT */
header {
  padding: 24px 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-gap: 2%;
  align-items: center;
  margin-top: 12%;
}

h1 {
  font-weight: bold;
  font-size: 96px;
  line-height: 110px;
  letter-spacing: 0.36px;
  color: #f7f7f7;
}

p {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.36px;
  color: #f7f7f7;
  margin-top: 16px;
  margin-bottom: 8px;
}

button {
  font-weight: bold;
  font-size: 27.4012px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.448383px;
  background: #CA1F3D;
  border-radius: 124.551px;
  color: #f7f7f7;
  padding: 10px 24px;
  margin-top: 16px;
}

.workout {
  max-width: 680px;
  width: 100%;
  height: auto;
}

/* RESPONSIVE
   ================================================ */
  @media (max-width: 768px) { 
    header {
      grid-template-columns: 1fr;
      grid-row: reverse;
    }
    h1 { 
      display: none 
    }
    .workout {
      grid-row: 1;
    }
    p {
      text-align: center;
    }
    div {
      display: grid;
      place-items: center;
    }
    button {
      margin-top: 12%;
    }

    .header-img {
      grid-row: 4;
    }

  }

  @media (max-width: 1000px) { 
    .team-cards-container {
      grid-template-columns: 1fr 1fr !important;
    }
  
  }

  @media (max-width: 900px) { 
    h1 {
      font-size: 72px;
      line-height: 80px;
    }
  }

  @media (max-width: 700px) { 
    h1 {
      font-size: 72px;
      line-height: 80px;
    }
    .team-cards-container {
      grid-template-columns: 1fr !important;
    }
    .team-section h2 {
      text-align: center !important;
    }
  }




/* ABOUT PAGE
  ================================================ */

  section {
    padding: 24px 8%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .intro-section {
    display: grid;
    justify-items: center;
  }

  h2 {
    display: flex;
    margin: 0 auto;
    color: #fff;
    font-size: 48px;
    margin-bottom: 10px;
  }

  hr {
    background: #CA1F3D;
    height: 4px;
    width: 140px;
    border: none;
    margin-top: 1.6rem;
  }

  .header-img {
    width: 100%;
    height: auto;
    max-width: none;
    margin-top: 4rem;
    border-radius: 16px;
  }

  .team-section {
    display: grid;
    justify-items: center;
    margin-top: 28px;
  }
  
  .team-section p {
    margin-bottom: 48px;
  }

  .team-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 24px;
  }

  .card {
    width: 300px;
    height: 375px;
    background-color: #fff;
    border-radius: 16px;
  }

  .team-card h4 {
    color: #fff;
    font-size: 24px;
    margin-top: 24px;
  }
  .team-card p {
    color: #CA1F3D;
  }